// Bootstrap Base
@import "bootstrap";

// Bootswatch Theme
@import "vendor/bootswatch-superhero";
@import "vendor/bootswatch-superhero-variables";

// App Variables

// Mixins
@import "vendor/lessHat";

// Fonts

@import "vendor/glyphicons-social";
@import "vendor/font-awesome/font-awesome";

@import "vendor/nprogress";
// @import "vendor/pnotify";
@import "vendor/slick";

// Sections
@import "partials/_home";
@import "partials/_navbar";
@import "partials/_intro";
@import "partials/_about";
@import "partials/_portfolio";

@body-bg-dark: shade(@body-bg, 40%);

@btn-alt-color:              #fff;
@btn-alt-bg:                 @body-bg-dark;
@btn-alt-border:             darken(@body-bg-dark, 5%);

body {
  padding-top: 40px;
}

section {
  position: relative;
}

// Buttons
.btn-alt {
  .button-variant(@btn-alt-color; @btn-alt-bg; @btn-alt-border);
}

// Loading Stuff
.loading {
  display: block;

  .spinner {
    display: block;
    .square(18px);
    margin: 0 auto;
    border: 2px solid transparent;
    border-top-color: @brand-info;
    border-left-color: @brand-info;
    border-radius: 50%;

    .animation(loading-spinner 800ms linear infinite);
  }
}

@-webkit-keyframes loading-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes loading-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

