.search-nav {
  input {
    // background: none;
    // padding: 0;
    box-shadow: none;
    color: @brand-primary;
    font-size: 2em;
    font-weight: 400;
  }
  .tt-hint {
    color: @gray-light;
  }
}

.project {
  @img-size: 250px;
  @border-clr: tint(@body-bg, 90%);
  .make-sm-column(4);
  .thumb {
    .square(@img-size);
    // background-size: cover;
    border: 10px solid @border-clr;
    border-radius: @img-size;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .lh-blur(5);
  }
}