// Intro Section
.intro {
  height: 100%;
  padding: 0;
  text-align: center;

  .centerer {
    position: absolute;
    padding: 0 10px;
    width: 100%;
    top: 42%;
    .translate(0, -60%);
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  .intro-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 0;
    font-weight: 400;
    line-height: 1;
    color: @body-bg-dark;
    text-decoration: none;
    .lh-transition(color .2s ease);
    &:hover {
      color: @brand-primary;
    }
  }
}

// Tablet 768px and up
@media (min-width: @screen-sm-min) {
  .intro {
    min-height: 0;
    h2 {
      font-size: 32px;
      margin: 0 auto;
    }
  }
}