// Intro Section
.intro {
  text-align: center;
  // height: 1000px;
  margin: 100px 0 200px 0;

  h1 {
    .square(180px);
    font-size: 90px;
    font-weight: 600;
    border-radius: 50%;
    border: 6px solid #fff;
    line-height: 152px;
    margin: 40px auto;
    .a {
      margin-left: -2px;
    }
    .g {
      margin-left: -6px;
    }
  }

  h2 {
    margin: 0 60px 40px 60px;
  }

  button {
    font-weight: 400;
  }

  .lead {
    // font-size: 30px;
  }
}