// Intro Section
.intro {
  text-align: center;

  h2 {
    font-size: 28px;
    margin: 0 0 100px 0;
  }

  .intro-btn {
    @btn-h: 40px;
    padding: 0;
    height: @btn-h;
    overflow: hidden;
    font-weight: 400;
    border-radius: 4px;
    line-height: 1;
    .lh-transition(background .2s ease);
    span {
      position: relative;
      top: 0;
      padding: 8px 24px;
      display: block;
      .lh-transition(all .2s ease);
    }
    &:hover {
      background-color: @brand-primary;
      span {
        color: @body-bg-dark;
        top: -(@btn-h - 5);
      }
    }
  }
}

// Tablet 768px and up
@media (min-width: @screen-sm-min) {
  .intro {
    h2 {
      font-size: 32px;
      margin: 0 auto 100px auto;
      max-width: 600px;
    }
  }
}