// Portfolio Section
.portfolio {
  @text: #070709;
  background-color: lighten(@body-bg, 70%);
  color: @text;
}

.project {
  @img-size: 600px;
  @border-clr: shade(@body-bg, 40%);
  @border-width: 10px;

  .project-image-cnt {
    .make-sm-column(8);
  }
  .project-info-cnt {
    .make-sm-column(4);
  }

  // image
  .project-image-cnt {
    height: @img-size;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    .project-image-thumb {
      .square(100%);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border: 2px solid @border-clr;
      border-radius: 50%;
      .lh-blur(1);
    }
  }
}