// Portfolio Section
.portfolio {
  @text: #070709;
  background-color: lighten(@body-bg, 70%);
  color: @text;
}

.project {
  @img-size: 600px;
  @border-clr: shade(@body-bg, 40%);
  @border-width: 10px;

  .project-images-cnt {
    .make-sm-column(7);
  }
  .project-info-cnt {
    .make-sm-column(5);
  }

  // image
  .project-image-cnt {
    height: @img-size;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  .project-image {
    display: none;
    &:first-child {display: block;}
  }

  .project-name {
    font-weight: 400;
  }

  .description {
    margin-bottom: 21px;
  }

  .features {
    padding: 10px;
    background: @body-bg;
    color: #fff;
  }

  .feature {
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
    &:before {
      content: @fa-var-check;
      color: @brand-primary;
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 0;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .project {
    .project-info-cnt {
      padding-right: 45px;
    }
    .description {
      font-size: 18px;
    }
    .features {
      font-size: 18px;
    }
    .feature {
      padding-left: 24px;
    }
  }
}
